#include <pgmspace.h>

#define SECRET
#define THINGNAME "handson_2024" //作成したモノの名前に変更

const char WIFI_SSID[] = "wifi name";              //使用するアクセスポイントのSSIDに変更
const char WIFI_PASSWORD[] = "password";           //使用するアクセスポイントのパスワードに変更
const char AWS_IOT_ENDPOINT[] = "sample.iot.ap-northeast-1.amazonaws.com";       //AWS IoTのエンドポイントに変更

// Amazon Root CA 1をここに貼り付ける
static const char AWS_CERT_CA[] PROGMEM = R"EOF(

)EOF";

// Device Certificateをここに貼り付ける
static const char AWS_CERT_CRT[] PROGMEM = R"KEY(

)KEY";

// Device Private Keyをここに貼り付ける
static const char AWS_CERT_PRIVATE[] PROGMEM = R"KEY(

)KEY";